   body {
    font-family: 'Fira Sans', sans-serif;
   }
   
   .headcontainer {
    text-align: center;
    padding: 3.5rem;
    margin-left: auto;
    margin-right: auto;
    color: white; 
  }
  
  .style {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #2b4170; 
    background: -moz-linear-gradient(top, #3b5998, #2b4170);
    background: -ms-linear-gradient(top, #3b5998, #2b4170);
    background: -webkit-linear-gradient(top, #3b5998, #2b4170);
    border: 1px solid #2b4170;
    text-shadow: 0 -1px -1px #1f2f52;
  }

  .row{
    max-width: 85%;
  }

  .top1000{
    position: absolute;
    right:0;
    max-width: 40%;
    padding:50px; 
  }

  #prov{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
  }

  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    }
  
  .thumbnail {
    margin: 5px;
    height: auto; 
    border: white; 
  }
  
  .overlay {
    background-color: black; 
    margin: -1px;
    border-radius: 4px;
  }

  .overlay .text_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility:hidden;
    color: white;
    font-size: 1.2em;
    max-width: 100%;
  }

  .overlay:hover .text_overlay{
    visibility:visible;
    
  }
  
  video,
  img {
    width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
  }
  
  img:hover,
  video:hover {
    opacity: 0.3;
  }

  .glyphicon {
  padding-left:0.3em;
  padding-right: 0.1em; 
  }

  footer{
    height: 80px;
  }

 