  body {
    font-family: 'Fira Sans', sans-serif;
  }
  
  .master {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #2b4170; 
    background: -moz-linear-gradient(top, #3b5998, #2b4170);
    background: -ms-linear-gradient(top, #3b5998, #2b4170);
    background: -webkit-linear-gradient(top, #3b5998, #2b4170);
    border: 1px solid #2b4170;
    text-shadow: 0 -1px -1px #1f2f52;
  }
     
  .header-content {
    text-align: center;
    padding: 3.5rem;
    margin-left: auto;
    margin-right: auto;
    color: white; 
  }
  
  .header-content h1{
    font-size: 5vw;
  }
  
  .main{
     display: flex;
 }
   
  .flex-container-12gram {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;
    align-items:stretch;
    flex: 0 0 60%;
    margin-top: 60px;
   }
    
  .flex-item-12gram{
      max-width: 250px;
      margin: 0px 40px 40px 10px;
      position: relative;
   }
   
  .flex-container-top1000 {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    flex: 1;
    margin: 130px 80px 0px 10px;
   }
   
   
  .big{
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
  }

  .small{
    font-size: 1.2vw;
  }
  
  .overlay{ 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
  }
  
 .flex-item-12gram:hover > .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}
  
  video,
  img {
    width: 200px;
  }
  
  .glyphicon {
  padding-left: 0.5em; 
  }

  .form-inline{
    font-size: 1.2vw;
  }
  
  footer{
    height: 80px;
  }